._navbar{
    background-color: #070707;

    h1{
        font: normal normal 600 28px/28px Poppins;
        color: #cccccc;
    }
    }
    ._navbar_body{
    display: flex;
    height: 60px;
    align-items: center;
    }
    ._navbar_brand{
    width: 200px;
    }
    ._navbar_itens{
    margin: 0 auto 0 0;
    text-decoration: none;
    ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;
    li{
    &:first-child{
    margin-left: 0;
    }
    margin: 0 0 0 24px;
    a{
    text-decoration: none;
    color: #616161;
    }
    }
    }
    }
    ._navbar_logout{
    display: flex;
    margin-left: auto;
    width: 200px;
    justify-content: flex-end;

    }