<nav class="navbar navbar-dark bg-dark _navbar">
  <a class="navbar-brand">Clínica Máximo</a>
  <ul class="_navbar_body">
    <li class="nav-item active">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pacientes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" >Cadastrar</a>
        <a class="dropdown-item" >Consultar</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Medicos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" >Cadastrar</a>
        <a class="dropdown-item" >Consultar</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Agendamento
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" >Consultas</a>
        <a class="dropdown-item" >Exames</a>
      </div>
    </li>
  </ul>
</nav>